/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: black;
}

#main{
    min-height: 100%;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
    background-size: cover;
    background-position: 0 40%;
    padding-top: 100px;
}
#page1 video{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    -webkit-filter: brightness(.6) ;
            filter: brightness(.6) ;
    -webkit-box-shadow:0 0 200px rgba(0,0,0,0.9) inset;
            box-shadow:0 0 200px rgba(0,0,0,0.9) inset;
}
#page1 #btmdark{
    background:-webkit-gradient(linear,left top, left bottom,from(transparent),color-stop(transparent),color-stop(transparent),to(rgb(0, 0, 0)));
    background:-o-linear-gradient(transparent,transparent,transparent,rgb(0, 0, 0));
    background:linear-gradient(transparent,transparent,transparent,rgb(0, 0, 0));
    width: 100%;
    height: 120%;
    bottom: 0;
    position: absolute;
}
#nav{
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 100px;
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.449)),to(transparent));
    background:-o-linear-gradient(rgba(0, 0, 0, 0.449),transparent);
    background:linear-gradient(rgba(0, 0, 0, 0.449),transparent);
    z-index: 99;
    position: fixed;
}
#nav #nav2{
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#nav h1{
    position: relative;
    cursor: pointer;
    font-size: 27px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    font-family: vvds;
    text-transform: uppercase;
    text-align: center;
    line-height: 3vh;
}
#nav h1 span{
    font-family: meillina;
    text-transform: lowercase;
}

#nav h1 strong{
    font-size: .75vmax;
    font-weight: 300;
    text-transform: capitalize;
    /* position: absolute; */
    text-align: center;
    white-space: nowrap;

}

#nav h3{
    font-size: 18px;
    cursor: pointer;
}

.line{
    height: 2px;
    width: 0;
    background-color: orangered;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
}
#nav h3:hover .line{
    width: 100%;
    scale: 1;
}
#nav button{
    padding: 10px 18px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: inherit;
    border: #fff solid 1px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    
    
}
#nav button:hover{
    color: orangered;
    border-color:orangered ;
}
#page1-div{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 8% 7%;
    background: -webkit-gradient(linear,left top, left bottom,from(transparent),color-stop(rgba(0, 0, 0, 0.503)),to(black));
    background: -o-linear-gradient(transparent,rgba(0, 0, 0, 0.503),black);
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.503),black);
}

#page1-div>h1{
    font-size: 3vw;
    margin-bottom: 5vh;
}
#page1-div>p{
    font-size: 1vw;
    width: 40%;
    margin-bottom: 7vh ;
}
#page1-div>p strong{
    font-family: vvds;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#page1-div>p strong span{
    font-family: meillina;
    font-weight: 250;
}
#page1-div>button{
    font-size: 1.12vw;
    padding: 1.4vh 1.2vw;
    background-color: rgb(214, 83, 35);
    color: #ffffffd9;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
    /* background-color: red; */
    padding: 7% 7%;
    position: relative;
}

#page2 h1{
    font-size: 2.5vw;
    margin-bottom: 7vh;
}

#page2 #page2-div{
    height:  60vh;
    width: auto;
    /* background-color: lightcoral; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;

}
.elem{
    height: 100%;
    width: 22%;
    /* background-color: black; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    margin-right: 2%;
  
}
#page2-div::-webkit-scrollbar{
    display: none;
}
.elem img{
    height: 100%;
    width: 100%;
    /* opacity: .9; */
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: all ease .7s;
    -o-transition: all ease .7s;
    transition: all ease .7s;
}
.elem h3{
    font-size: 1.2vw;
    width: 80%;
    position: absolute;
    bottom: 30%;
    left: 10%;
    opacity: 0;
    -webkit-transition: all ease .4s;
    -o-transition: all ease .4s;
    transition: all ease .4s;
    white-space: break-spaces;
}
.elem h2{
    font-size: 1.5vw;
    width: 80%;
    position: absolute;
    bottom: 12%;
    left: 10%;
    opacity: 0;
    -webkit-transition: all ease .4s;
    -o-transition: all ease .4s;
    transition: all ease .4s;
    white-space: break-spaces;

}

.elem:hover img{
    scale: 1.1;
    -webkit-filter: brightness(.8);
            filter: brightness(.8);
}
.elem:hover h3{
    opacity: 1;
}
.elem:hover h2{
    opacity: 1;
}
#page3{
    height:80vh;
    width: 100vw;
    background-color: black;
    position: relative;

}

#page3 h1{
    font-size: 2.7vw;
    text-align: center;
    padding-top: 4vh;
    margin-bottom: 4vh;
}

#page3-div{
    width: 100%;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    padding: 100px 220px;
    position: relative;
}

#page3-div .card{
    min-height: fit-content;
    height: 200px;
    /* min-width:;r */
    width: 18vw;
    background-color: #222;
    /* padding: 16px 0; */
    padding: 20px;
    scale: 1.1;
    border-radius: 15px;
    margin: 0 3vw;
    position: relative;
}

.card h2{
    font-size: 1.75vw;
    color: orangered;
    width: 100%;
    margin-bottom: 12px;
}
.card h3{
    font-size: .95vw;
    font-weight: 400;
}



@media (max-width:600px) {
    #main{
        min-height: 100vh;
    }
    #page1{
        background-position: center;
        padding-top: 0;
    }
    #nav{
        height: 80px;
        width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        padding-top: 4vh;
    }
    #nav h1 strong{
        font-size: 2vmax;
        white-space: nowrap;
        text-align: center;
    }
    #nav #nav2{
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    
    }
    #nav h1{
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    #nav h3{
        font-size: 12px;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    
    .line{
        height: 2px;
        width: 0;
        background-color: orangered;
        -webkit-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
    }
    #nav h3:hover .line{
        width: 100%;
        scale: 1;
    }
    #nav button{
        padding: 6px 13px;
        font-size: 13px;
        color: white;
        font-weight: 700;
        background-color: inherit;
        border: #fff solid 1px;
        -webkit-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
    }
    #nav button:hover{
        color: orangered;
        border-color:orangered ;
    }
    #page1-div{
        height: 100%;
        width: 100%;
        /* background-color: red; */
        padding: 40% 5%;
        background: -webkit-gradient(linear,left top, left bottom,from(transparent),color-stop(rgba(0, 0, 0, 0.503)),to(black));
        background: -o-linear-gradient(transparent,rgba(0, 0, 0, 0.503),black);
        background: linear-gradient(transparent,rgba(0, 0, 0, 0.503),black);
    }
    
    #page1-div>h1{
        font-size: 6vmax;
        margin-bottom: 3vh;
        width: 100%;
    }
    #page1-div>p{
        font-size: 2vmax;
        font-weight: 300;
        width: 80%;
        margin-bottom: 5vh ;
    }
    #page1-div>button{
        font-size: 3.12vw;
        padding: 1.3vh 2vw;
        background-color: rgb(214, 83, 35);
        color: #ffffffd9;
    }
    #page2{
        height: 60vh;
        width: 100vw;
        background-color: black;
        position: relative;
        /* background-color: red; */
        padding: 7% 7%;
    
    }
    
    #page2 h1{
        font-size: 5vw;
        text-align: center;
        margin-bottom: 7vh;
    }
    
    #page2 #page2-div{
        height:  80%;
        width: 100%;
        /* background-color: lightcoral; */
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-transition: all linear .2s;
        -o-transition: all linear .2s;
        transition: all linear .2s;
    
    }
    .elem{
        height: 100%;
        width:60%;
        /* background-color: black; */
        position: relative;
        overflow: hidden;
        cursor: pointer;
        display: inline-block;
        margin-right: 2%;
      
    }
    #page2-div::-webkit-scrollbar{
        display: none;
    }
    .elem img{
        height: 100%;
        width: 100%;
        /* opacity: .9; */
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        -webkit-transition: all ease .4s;
        -o-transition: all ease .4s;
        transition: all ease .4s;
    }
    .elem h3{
        font-size: 4.2vmax;
        width: 80%;
        position: absolute;
        bottom: 30%;
        left: 10%;
        opacity: 0;
        -webkit-transition: all ease .4s;
        -o-transition: all ease .4s;
        transition: all ease .4s;
        white-space: break-spaces;
    }
    .elem h2{
        font-size: 2vmax;
        width: 80%;
        position: absolute;
        bottom: 12%;
        left: 10%;
        opacity: 0;
        -webkit-transition: all ease .4s;
        -o-transition: all ease .4s;
        transition: all ease .4s;
        white-space: break-spaces;
    
    }
    
    .elem:hover img{
        scale: 1.1;
        -webkit-filter: brightness(.8);
                filter: brightness(.8);
    }
    .elem:hover h3{
        opacity: 1;
    }
    .elem:hover h2{
        opacity: 1;
    }
    #page3{
        height:80vh;
        width: 100vw;
        background-color: black;
        position: relative;
    
    }
    
    #page3 h1{
        font-size: 5.7vw;
        text-align: center;
        padding-top: 4vh;
        margin-bottom: 1vh;
    }
    
    #page3-div{
        width: 100%;
        /* background-color: red; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        padding: 10px 20px;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    #page3-div .card{
        height: 125px;
        width: 150px;
        background-color: #222;
        /* padding: 16px 0; */
        padding: 20px;
        scale: 1.1;
        border-radius: 15px;
        margin: 0 3vw;
        margin-bottom: 50px;

    }
    
    .card h2{
        font-size: 4.8vw;
        color: orangered;
        width: 100%;
        margin-bottom: 12px;
    }
    .card h3{
        font-size: 2vw;
        font-weight: 400;
    }
    }
